<html>
<body>
	<p>Dear @Model.FirstName,</p>
	<p>You recently requested to reset the password for your Beauty Salon Web Application account. Click the link below to proceed:</p>
	<p><a href="@Model.ConfirmationLink">Confirm Password Reset</a></p>
	<p>If you did not request a password reset, please ignore this email or reply to let us know.</p>
</body>
</html>