<html>
<body>
	<p>Dear @Model.FirstName,</p>
	<p>Thank you for registering with Beauty Salon Web Application. Please click the following link to confirm your email address:</p>
	<p><a href="@Model.ConfirmationLink">Confirm Email</a></p>
	<p>If you did not create an account, please disregard this email.</p>
</body>
</html>